<div class="grid-2">
    <div class="section-1">
        <img class="foto" src="./assets/felipe.jpg" alt="Felipe Fragoso">
        <br>
        <br>
        <i class="fas fa-code fa-3x white"></i>
        <h2>Felipe Fragoso</h2>
        <p>Desenvolvedor Full-Stack</p>
        <p>Petrópolis - Rj</p>
        <a href="https://www.linkedin.com/in/felipeofragoso/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/felipeofragoso"><i class="fab fa-github"></i></a>
        <a href="https://wa.me/5521981424838"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="section-2">
        <h2>Sobre</h2>
        <p>Olá, eu sou o Felipe Fragoso! Um apaixonado
            por tecnologia que decidiu trilhar o caminho da
            programação. Atualmente estou fazendo a Residencia em TIC/Software do Serratec em parceira com Senac.</p>
        <h2>Experiência</h2>
        <p> AWS - Linux - Avamar - Help-Desk</p>
        <h2>Habilidades</h2>
        <p>HTML, CSS e Javascript, também conhecidas como trindade da web, formam o principal conjunto de tecnologias para qualquer aplicação web. Já deu para ver que é o nivel da importância em entender MUITO bem esses caras. 
        Em aprendizado: Node-js, React, Angular e Figma.
        </p>
        <h2>Projetos</h2>
        <a href="https://felipeofragoso.github.io/digital-clock-js/">RelógioDigitalJs</a>
        <a href="#">Em Breve...</a>
        <a href="#">Em Breve...</a>
        <h2>Contato</h2>
        <p>lfo.fragoso@gmail.com</p>

    </div>
</div>